@import './modules/navbar';
@import './modules/topbar';

.page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 1.53rem;
    left: 0;
}

.flex--agents {
    justify-content: center;
}

.flex--agents li {
    width: 33.3333%;
}

.agents-body {
    position: absolute;
    top: 1.25rem;
    right: 0;
    bottom: 0;
    left: 0;
}