body {
    line-height: 1;
}

.pull-left { float: left; }
.pull-right { float: right; }
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

.flex { display: flex; }

.icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.icon-person {
    background-image: url('../images/icon/person.png');
    background-size: 0.65625rem 0.625rem;
}

.icon-search-list {
    background-image: url('../images/icon/search.png');
    background-size: 0.59375rem 0.578125rem;
}

.icon-person-list {
    background-image: url('../images/icon/person.png');
    background-size: 0.734375rem 0.625rem;
}

.icon-setting {
    background-image: url('../images/icon/setting.png');
    background-size: 0.640625rem 0.640625rem;
}

.icon-logo {
    background-image: url('../images/logo.png');
    background-size: 4.25rem 1.76562rem;
}

.icon-head-logo {
    background-image: url('../images/logo--head.png');
    background-size: 1.89062rem 0.765625rem;
}

.scroll {
    overflow-x: hidden;
    overflow-y: auto;
}